<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>M-chan</title>
    <link href="/static/style.css" rel="stylesheet" />

  </head>

  <script src="/static/lainpet-snippet.js" defer></script>
  <body>
    <main>
      {% for board in boards %}
      <article>
        <h2>
          <a href="/boards/{{board.slug}}">{{board.name}}</a>
        </h2>
        <p>{{board.description}}</p>
      </article>
      {% endfor %}
    </main>
  </body>
</html>
